/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: -25px 0 0 0;
  line-height: 1.2;
  text-align: center;
  color: #121b22;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  font-family: "Lora", serif;
}

a {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  color: #f3f3f3;
}

.row {
  margin: 48px 0;
}

.container {
  max-width: 1140px;
  padding: 36px 20px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  margin: 0;
  font-size: 36px;
  line-height: 0.7;
}

.section-subtitle {
  font-style: italic;
  font-size: 12px;
  color: #204254;
}

.btn {
  display: inline-block;
  transition: all 2s;
  margin: 24px auto 0 auto;
  min-width: 160px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #b94a3e;
  background: none;
  background-position: 100% 0;
  background-size: 200% auto;
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #f3f3f3;
}

.btn:hover {
  background-position: 0 100%;
}

/* Navigation */
.navigation {
  position: absolute;
  width: 100%;
}

.row-navigation {
  margin: 0;
}

.col-navigation ul {
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* Splash */
.splash {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  height: 105vh;
  padding: 0 20px;
  background-image: url("../images/splash.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #f3f3f3;
}

.splash-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.splash-inner h1 {
  margin-bottom: -50px;
  font-size: 24px;
  font-style: italic;
}

.splash-inner h2 {
  font-size: 60px;
  text-transform: uppercase;
}

.btn-splash {
  background-image: linear-gradient(90deg, #b94a3e 30%, transparent 50%);
  background-size: 300% auto;
}

/* Services */
.services i {
  width: 100px;
  height: 100px;
  border: 2px solid #b94a3e;
  border-radius: 50%;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  color: #b94a3e;
}

/* Portfolio */
.portfolio {
  background: #f3f3f3;
}

.card {
  position: relative;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
}

.card-image {
  width: 100%;
  height: 300px;
}

.card-image img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Footer */
/* Media */
@media (max-width: 767px) {
  .row-portfolio {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */