/* Variables */

$color-main: #b94a3e;
$color-light: #f3f3f3;
$color-middle: #204254;
$color-dark: #121b22;
$font-title: 'Open Sans Condensed', sans-serif;
$font-text: 'Lora', serif;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: -25px 0 0 0;
		line-height: 1.2;
    text-align: center;
    color: $color-dark;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

p {
  font-family: $font-text;
}

a {
  font-family: $font-title;
  text-decoration: none;
  color: $color-light;
	&:hover {
		color:$color-main;
	}
}

.row {
	margin: 48px 0;
}

.container {
  max-width: 1140px;
  padding: 36px 20px;
  margin: 0 auto;
}

.section-title {
	position: relative;
  margin: 0;
	font-size: 36px;
	line-height: 0.7;
}

.section-subtitle {
	font-style: italic;
	font-size: 12px;
	color: $color-middle;
}

.btn {
  display: inline-block;
  transition: all 2s;
	margin: 24px auto 0 auto;
  min-width: 160px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-main;
  background: none;
  background-position: 100% 0;
  background-size: 200% auto;
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
  font-family: $font-title;
  text-align: center;
  text-decoration: none;
  color: $color-light;
  &:hover {
    background-position: 0 100%;
		color: $color-light;
  }
}

/* Navigation */

.navigation {
	position: absolute;
	width: 100%;
}

.row-navigation {
	margin: 0;
	align-items: center;
}

.col-navigation ul {
  	padding: 0;
  	list-style-type: none;
  	display: flex;
  	justify-content: space-around;
}

/* Splash */

.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
  height: 105vh;
	padding: 0 20px;
  background-image: url("../images/splash.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
	color: $color-light;
}

.splash-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		margin-bottom: -50px;
		font-size: 24px;
		font-style: italic;
	}
	h2 {
		font-size: 60px;
		text-transform: uppercase;
	}
}

.btn-splash {
    background-image: linear-gradient(90deg, $color-main 30%, transparent 50%);
    background-size: 300% auto;
}

/* Services */

.services {
	i {
		width: 100px;
		height: 100px;
		border: 2px solid $color-main;
		border-radius: 50%;
		font-size: 50px;
		line-height: 100px;
		text-align: center;
		color: $color-main;
	}
}

/* Portfolio */

.portfolio {
	background: $color-light;
}

.card {
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
  width: 100%;
  height: 100%;
	background: #fff;
}

.card-image {
	overflow: hidden;
	width: 100%;
  height: 300px;
	img {
		position: relative;
		transition: all 2s;
    width: 100%;
    height: 100%;
    object-fit: cover;
		&:hover {
			transform: scale(1.2);
		}
	}
}

/* Footer */

.page-footer {
	display: flex;
	text-align: center;
	a {
		color: $color-dark
	}
	.col-footer {
		align-items: center;
		justify-content: center;
		display: flex;
	}
}

.social-icons-footer {
      position: relative;
			justify-content: center;
      display: flex;
      padding: 0;
      list-style: none;
    li {
      position: relative;
      padding: 0 10px;
      font-size: 0px;
      text-align: center;
      text-decoration: none;
    }
    a {
      position: relative;
      display: block;
      margin: 10px 1px;
      border-radius: 50%;
      background: $color-dark;
      width: 30px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      color: $color-light;
      &:hover{
        color: $color-main;
      }
    }
}

/* Media */
@media (max-width: 767px) {
	.row-portfolio {
		margin: 0;
	}
	.social-icons-footer a {
		width: 60px;
		height: 60px;
		font-size: 30px;
		line-height: 60px;
	}
}
