/* Variables */

$color-main: #b94a3e;
$color-light: #f3f3f3;
$color-middle: #204254;
$color-dark: #121b22;
$font-title: 'Open Sans Condensed', sans-serif;
$font-text: 'Lora', serif;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    color: $color-dark;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

p {
  font-family: $font-text;
}

a {
  font-family: $font-title;
  text-decoration: none;
  color: $color-light;
}

.row {
 border: solid blue 2px;
}

.container {
      max-width: 1140px;
      padding: 36px 20px;
      margin: 0 auto;
}

.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
}

/* Navigation */

.Navigation {
  position: absolute;
  max-width: 50%;
}

.col-navigation ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

/* Splash */
